
{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        {{ partial "breadcrumb.html" . }}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {{ range .Pages }}
          <a href="{{ .RelPermalink }}" class="shadow-md rounded-xl p-6 flex flex-col items-center hover:shadow-lg transition dark:hx-text-neutral-200 dark:hover:hx-text-neutral-50">
              
            <img src="{{ .Params.image | resources.Get }}" alt="{{ .Params.fullname }}" class="w-24 h-24 rounded-full border-2 border-blue-400">
              {{ if .Params.fullname }}<h2 class="text-xl font-bold mt-4">{{ .Params.fullname }}</h2>{{ end }}
              {{ if .Params.fullname }}<span class="text-gray-500 text-sm mt-1">{{ .Params.role }}</span>{{ end }}
          </a>
          {{ end }}
      </div>
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/pager.html" . }}
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}