{{ define "main" }}
<div class='hx-mx-auto hx-flex hx-container hx-p-6 {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        {{ partial "breadcrumb.html" . }}
        <div class="content">
            {{ if .Title }}<h1 class="text-4xl font-bold mb-6 text-center">{{ .Title }}</h1>{{ end }}
            {{ if .Params.description }}<p class="text-gray-600 text-center mb-8">{{ .Params.description }}</p>{{ end }}
          {{ .Content }}
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="block relative group">
    
                <div class="relative">
                    {{ if .Params.poster }}
                    {{ $poster := resources.Get (printf "images/%s" .Params.poster) }}
                    {{ if $poster }}
                        <img src="{{ $poster.RelPermalink }}" alt="Poster Issue {{ .Params.tag }}" class="rounded-lg w-full shadow-lg transition-transform duration-300 group-hover:scale-105">
                    {{ else }}
                        <p class="text-gray-500">تصویری برای این نشریه موجود نیست.</p>
                    {{ end }}
                {{ end }}
    
                <span class="absolute bottom-3 right-3 bg-black bg-opacity-70 text-white px-3 py-1 text-sm rounded-lg">
                        {{ .Date.Format "02 Jan 2006" }}
                    </span>
                </div>
                
    
                <div class="bg-white text-center p-3 rounded-lg shadow-lg mt-2 transition duration-300 transform group-hover:bg-blue-500 group-hover:text-white">
                    <h2 class="text-lg font-semibold">{{ .Title }}</h2>
                </div>
            </a>
            {{ end }}
        </div>
        </div>
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/pager.html" . }}
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
