{{ range .Params.linkedin }}
<div class="linkedin-container container mx-auto bg-gradient-to-r from-blue-900 to-blue-600 rounded-[30px] shadow-lg max-w-[1288px] flex items-center justify-between p-6 relative overflow-visible h-[165px] max-[768px]:flex-col max-[768px]:min-h-[350px] max-[768px]:justify-items-start max-[768px]:text-center max-[768px]:pb-4">
  <!-- Image section (left side in desktop, top in mobile) -->
  <div class="relative z-10 mr-4 max-[768px]:mr-0 max-[768px]:-translate-y-3/4 max-[768px]:top-0">
    {{ with resources.Get .image }}
    <img loading="lazy" decoding="async" src="{{ .RelPermalink }}" class="max-w-full h-auto rounded-md w-[clamp(180px,25vw,300px)] h-[clamp(125px,17.5vw,207px)]" alt="LinkedIn Image">
    {{ else }}
      <p class="text-center text-white">تصویری ارائه نشده</p>
    {{ end }}
  </div>
  <!-- Text section (center in desktop, middle in mobile) -->
  <div class="text-center flex-1 px-4 z-10 max-[768px]:flex max-[768px]:justify-center max-[768px]:-mt-32 max-[768px]:mb-4">
    <h3 class="text-[clamp(18px,4vw,22px)] font-bold text-white max-[768px]:max-w-full max-[768px]:mx-5 max-[768px]:break-words">{{ .text }}</h3>
  </div>
  <!-- Button section (right side in desktop, bottom in mobile) -->
  <div class="text-left z-10 max-[768px]:mt-auto max-[768px]:text-center">
    <a href="{{ .url }}" class="inline-flex items-center bg-white text-blue-900 font-semibold py-2 px-4 rounded-md hover:bg-blue-100 hover:shadow-[0_0_15px_rgba(0,119,181,0.7)] transition duration-300 text-sm max-[768px]:justify-center max-[768px]:py-2 max-[768px]:px-3 max-[768px]:text-xs">
      <svg class="w-6 h-6 mr-2 max-[768px]:w-4 max-[768px]:h-4 max-[768px]:mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z"/>
      </svg>
      <span class="button-text">{{ .button }}</span>
    </a>
  </div>
</div>
{{ end }}


<!-- linkedin section -->
<!-- Responsive Styling -->
<style>
@media (max-width: 768px) {
  .linkedin-container h3 {
    word-break: break-word;
    box-sizing: border-box;
  }
}
</style>

<!-- linkedin section -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const container = document.querySelector('.linkedin-container');
    if (container) container.classList.add('linkedin-container');
  });
</script>